.row.row-no-padding
  .col-md-12
    %h2= "Edit Community: #{f.object.name}"
.row.row-no-padding
  .col-md-12
    %p
      Add missions to this Octoreso community here. Use the green "Add new mission" button to get additional rows, and hit the blue "Update Community" button to save the form. As with any part of Octoreso. Submissions are currently in beta as we scale up: if you encounter any issues either shout at
      %span{ style: 'color: #00bb00;font-weight: bold;' }@gigitrix
      in comms, yell in the hangouts or email octoreso at gmail dot com! In some cases data can be restored but it's best to save incrementally while we iron out the kinks :D
