.row.row-no-padding
  .col-md-12
    %h2= t('backend.communities.edit_title', community: @community.to_s)
.row.row-no-padding
  .col-md-12
    %p= t('backend.communities.edit_tutorial')
- if params[:approve].blank? && f.object.persisted? && !f.object.is_active && can?(:approve, @community)
  .row.row-no-padding
    .col-md-12
      = link_to 'Approve', admin_ingress_community_path(@community, approve: 1), class: 'btn btn-block btn-warning'
