.row.padded
  .col-md-1
  .col-md-2
    %strong{ title: t('backend.communities.mission_table.hint.mission_name'), data: { toggle: 'tooltip', placement: 'bottom' } }
      = t('backend.communities.mission_table.mission_name')
  .col-md-5
    %strong{ title: t('backend.communities.mission_table.hint.link'), data: { toggle: 'tooltip', placement: 'bottom' } }
      = t('backend.communities.mission_table.link')
  .col-md-2
    %strong{ title: t('backend.communities.mission_table.hint.mission_series'), data: { toggle: 'tooltip', placement: 'bottom' } }
      = t('backend.communities.mission_table.mission_series')
  .col-md-1
    %strong{ title: t('backend.communities.mission_table.hint.series_index'), data: { toggle: 'tooltip', placement: 'bottom' } }
      = t('backend.communities.mission_table.series_index')
  .col-md-1
