.row.padded
  .col-md-1
  .col-md-2
    %strong{ title: 'Entering this is optional and used for tracking purposes. Any values are overwritten from Intel once the mission goes live.', data: { toggle: 'tooltip', placement: 'bottom' } } Mission Name
  .col-md-5
    %strong{ title: 'Paste the intel link, accessible by selecting a mission on stock intel then hitting "Link".', data: { toggle: 'tooltip', placement: 'bottom' } } Link
  .col-md-2
    %strong{ title: 'If the mission is part of a mission series/banner/etc, give it a CONSISTENT name here. It must be identical to all other stages of the series.', data: { toggle: 'tooltip', placement: 'bottom' } } Mission Series
  .col-md-1
    %strong{ title: 'The "order" in the mission series. If a mission has no particular order, you can just do it arbitrarily.', data: { toggle: 'tooltip', placement: 'bottom' } } Series Index
  .col-md-1
