%tr{ class: sf.object.is_active? ? 'success' : 'error' }
  %td= sf.object.mission_series.try(:name) || ''
  %td= sf.object.series_index
  %td= sf.object.name
  %td
    %a.btn.btn-default.btn-xs{ href: sf.object.mission_url, target: '_blank' } Intel
