.row.spacer
  .col-md-12
    %p
      %strong
        = t('backend.communities.edit_modification_info')
.row.spacer
  .col-md-12
    = f.button :submit, t('backend.communities.edit_button'), class: 'btn btn-primary btn-block'
