%h4 Communities
%p Below is a list of all the communities you have access to. You can add, remove and change missions under this heading.

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th ID
      %th Name
      %th Edit
  %tbody
    - @communities.each do |community|
      %tr{ class: community.is_active? ? '' : 'error' }
        %td
          %a{ href: admin_ingress_community_path(community) }= "##{community.id}"
        %td
          %a{ href: admin_ingress_community_path(community) }= community.name
        %td
          %a.btn.btn-default.btn-xs{ href: admin_ingress_community_path(community) } Edit
