.jumbotron
  .container
    %h1 Week 1
    %h1 Katz in Black - The Enigma TNG
.container
  .row
    .col-md-12
      .alert.alert-info
        This is something new I'm trying out - consider it unfinished and inaccurate!
      %span.well{class: 'pull-right right-floated-media'}
        %a{href: 'https://theenigmatng.bandcamp.com/album/katz-in-black'}
          %img.front_image{src: "#{root_url}content/0003_katz_in_black.png" }
        %a{href: 'https://theenigmatng.bandcamp.com/album/katz-in-black'}
          %caption Click here to listen to Katz in Black on Bandcamp
      %h1 Katz in Black - The Enigma TNG
      %p 
        I have only just discovered EnigmaTNG and it seems I have a lot of catching up to do. This guy has three Youtube accounts, each a creative outlet for different styles of music. His TNGDubstep offering particularly piqued my interest due to the availability of "Katz In Black", a 29 track offering from November 2013 that is deceptively more versatile than the "Dubstep" his account name suggests.
      %p 
        TNG suggests that 
        %blockquote
          Anybody who enjoys artists such as Skrillex, Deadmau5, XKore, Excision, Kill The Noise, Nero, Alvin Risk, Feed Me, Daft Punk etc. will more than likely enjoy this album.
          %footer 
            TNGDubstep, on 
            %cite{title:"Youtube"}
              %a{href: 'https://www.youtube.com/watch?v=9K-c0OhHToU'}
                Youtube Promo Video
        and this statement is 
        %strong
          right
        on the money. I haven't heard an album that so clearly wears it's influences on it's sleeve. And yet, it's a wholly new experience, fusing these ingredients together into something wholly new. With the sole known exception of "#24 Break Now" (which appears to heavily use Skrillex samples to the point where it appears to be a bona fide remix of <a href='https://www.youtube.com/watch?v=_t2TzJOyops'>Ruffneck - FULL Flex</a>, though I may be mistaken), everything feels like a fusion of genres, culminating in a loud but very listenable result.
      %p 
        A personal favourite is "#8 Ocean Space", which combines microsampled vocals with amen-style breaks, two things I personally enjoy immensely, combined with a dramatic and somewhat symphonic atmosphere. And all with plenty of bass! It's a perfect example of the effect I'm trying to write about.
      %p
        It's certainly not for everyone, given it's loud and heavy drumstep/brostep focus, but it's most definitely worth a listen. It manages to go beyond these base elements and bring a richer experience to the table, while teasing you with riffs and samples you'd swear you'd heard in other contexts.
        %ul
          %li
            %a{href: 'https://theenigmatng.bandcamp.com/album/katz-in-black'}
              Soundcloud
          %li
            %a{href: 'https://www.youtube.com/user/TNGdubstepMusic'}
              Youtube