
.container
  .row
    .col-md-12
      = simple_form_for :intel_link, action: false do |f|
        = f.input :link
      %h2 Result
      %p.result
      #map_container
        #map

%script
  = render 'script.js'
%script{async:true, defer: true, src: "http://maps.googleapis.com/maps/api/js?key=AIzaSyAE7CVgjwE9GJoWWjc7f3dcLTjBJVBWvVU&callback=MapLoader&signed_in=true"}
