#map_container
  #map

= javascript_include_tag 'ingress'
%script{src: "http://maps.googleapis.com/maps/api/js?key=AIzaSyAE7CVgjwE9GJoWWjc7f3dcLTjBJVBWvVU&callback=MapLoader&signed_in=false"}

.lightbox-container
  .lightbox#main-pane
    .lightbox-content
