
#container
  #map-container
    #map
  #sidebar-container
    #sidebar
      #sidebar-menu
        .container-fluid
          .row
            .col-lg-2
              %a.glyphicon.glyphicon-home{ href: '#', title: 'Home', data: { ajax: 'content', content_id: 1, toggle: 'tooltip', placement: 'bottom' } }
            .col-lg-6
              %a.glyphicon.glyphicon-th-large{ href: '#', title: 'All Communities', data: { ajax: 'communities', toggle: 'tooltip', placement: 'bottom' } }
              %a.glyphicon.glyphicon-th{ href: '#', title: 'All Mission Series', data: { ajax: 'mission-series-collection', toggle: 'tooltip', placement: 'bottom' } }
              %a.glyphicon.glyphicon-map-marker{ href: '#', title: 'All Missions', data: { ajax: 'missions', toggle: 'tooltip', placement: 'bottom' } }
            .col-lg-4
              .text-right
                - if current_user.present?
                  %a.glyphicon.glyphicon-wrench{ href: admin_url(subdomain: 'admin'), title: 'Contributor Backend', data: { toggle: 'tooltip', placement: 'bottom' } }
                  %a.glyphicon.glyphicon-eject{ href: destroy_user_session_url(subdomain: nil), title: "Sign out #{current_user.email}", data: { toggle: 'tooltip', placement: 'bottom' } }
                - else
                  %a.glyphicon.glyphicon-user{ href: user_omniauth_authorize_url(subdomain: nil, provider: 'google_oauth2'), title: 'Sign in with G+', data: { toggle: 'tooltip', placement: 'bottom' } }
      #sidebar-content

#spinner-container
  #spinner
    = image_tag 'ajax_loader.gif'


= javascript_include_tag 'ingress'
%script{src: "//maps.googleapis.com/maps/api/js?key=AIzaSyAE7CVgjwE9GJoWWjc7f3dcLTjBJVBWvVU&callback=MapLoader&signed_in=false"}
