var GameState = {
  state: 'init',
  currency: {
    red: 0,
    green: 0,
    blue: 0
  },
  setGameOver:function()
  {
    this.state = 'gameover'; 
    clearInterval(GameModel.gameTimer);
    $('.game-area').html("<h1 class=\"lead\">Game Over.</h1><a class=\"btn btn-large btn-primary\" href=\"javascript:location.reload(true)\"> Play Again?</a>");
  },
  start:function(token)
  {
    this.state = 'ingame'; 
    $('.game-area').html("<canvas id=\"game\" width=\"800\" height=\"600\"></canvas>")
    GameController.init(token);
  },
}