= simple_form_for(@user, html: { class: 'form-horizontal' }, url: admin_ingress_user_path) do |f|
  .row
    .col-md-12
      = f.input :community_ids, collection: @communities, input_html: { multiple: true }
    .col-md-12
      = f.submit
