<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      {{#each this}}
        <p>
          Mission:
          <b>{{name}}</b>
        </p>
      {{/each}}
    </div>
  </div>
</div>
