.container
  .row
    .col-md-12
      %table.table.table-condensed
        %thead
          %tr
            %th Icon
            %th Name
        %tbody
          - @resources.each do |resource|
            %tr
              %td 
                = link_to (image_tag resource.icon.url(:tiny)), resource_path(resource) if resource.icon.present?
              %td
                = link_to resource, resource_path(resource)
