.container
  .row
    .col-md-12
      %h2= @resource
  .row
    .col-md-12
      = image_tag @resource.icon.url(:large)    

    %table.table.table-condensed
      %thead
        %tr
          %th Dir
          %th Name
      %tbody
        - @inputs.each do |input|
          %tr
            %td Input
            %td 
              = input
        - @outputs.each do |output|
          %tr
            %td Output
            %td 
              = output

