<h2> Welcome </h2>



<p>
  Welcome to <strong>Octoreso</strong>, your mission running companion. We collect mission data and display it here, allowing you to plan ahead and know exactly what you're getting into.
</p>

<p>
  We aim to augment and expand upon the official Ingress map, by having better support for mission banners/sequences, and easier mission discovery. It's early days, and we appreciate your feedback to help us make this even better!
</p>

<ul class="bigger">
  <li>
    <a href="#" data-ajax="communities"> Get started!</a>
  </li>
  <li>
    <a href='#' data-ajax='content' data-content-id="2">FAQ</a>
  </li>
</ul>

<br />
<br />

<h2> News </h2>
<ul class="smaller">
  <li>
    v2.0.0pre - User Accounts! <strong>Connect your G+ profile to Octoreso and track your missions as you complete them.</strong> Introduced an admin backend for our data contributors so we can online locations much quicker.
  </li>

  <li>
    v1.14.0 - Performance improvements/limits, better hidden sequential support in sidebar, made mission icon smaller. Backend improvements. <a href='https://github.com/octoreso/octoreso/issues?utf8=%E2%9C%93&q=milestone%3A%22m2+-+Sanity+and+Stability%22+is%3Aclosed' target="_blank">More Details</a>
  </li>

  <li>
    v1.13.9 - Server migration complete. Let me know if there are any problems! Versions now match <a href="https://github.com/octoreso/octoreso/tags" target="_blank">Github tags</a>. Version number's a bit weird, we'll get used to it.
  </li>

  <li>
    v1.0.1 - Better icons, communities, not focused on newcastle, clickable community icons, can zoom out back to community view, basically just a bunch of features to help this baby be about more than a single city!
  </li>

  <li>
    v1.0.0 - Initial launch. We currently only have coverage of Newcastle-upon-Tyne, UK. Interested in helping us expand? Check the <a href='#' data-ajax='content'  data-content-id="2">FAQ</a> for details!
  </li>
<br />
<br />
<br />

<small>
  <p>
    We are not affiliated with Ingress in any way and all official icons/branding is &copy; Niantic Labs.<br />
    Ingress Icons <a href="https://ra100.github.io/ingress-logos/" target="_blank">CC BY-NC-SA</a></br />
    <a href="https://github.com/octoreso/octoreso" target="_blank">Contribute on Github</a><br />
  </p>
</small>
