<h2> Welcome </h2>



<p>
  Welcome to <strong>Octoreso</strong>, your mission running companion. We collect mission data and display it here, allowing you to plan ahead and know exactly what you're getting into.
</p>

<p>
  We aim to augment and expand upon the official Ingress map, by having better support for mission banners/sequences, and easier mission discovery. It's early days, and we appreciate your feedback to help us make this even better!
</p>

<ul>
  <li>
    <a href="#" data-ajax="mission-series-collection"> Get started!</a>
  </li>
  <li>
    <a href='#' data-ajax='content'  data-content-id="2"> FAQ </a>
  </li>
</ul>

<br />
<br />
<br />

<small>
  <p>
    We are not affiliated with Ingress in any way and all official icons/branding is &copy; Niantic Labs.<br />
    Ingress Icons <a href="https://ra100.github.io/ingress-logos/" target="_blank">CC BY-NC-SA</a></br />
    <a href="https://github.com/octoreso/octoreso" target="_blank">Contribute on Github</a><br />
  </p>
</small>
