<h2> FAQ </h2>

<p>
  <em>How do I add more missions for my local area?</em>
</p>

<p>
  We're currently collecting a list of users who wish to help us with the mission adding process. <strong>This process will be very simple</strong>: you'll collect mission URLs from the Ingress Intel map, add the name and sort order for missions in a series, then signal to us that your sheet is done and needs to be imported.
</p>

<p>
  If you are interested in being a mission submission agent for your local area, <a href="https://docs.google.com/forms/d/1NtcvLA8-R0U_w7Re4nfh20Xu60velfNcKR2zxVVY-O8/viewform" target="_blank">please fill in this form!</a> We're <strong>particularly</strong> looking to get great coverage of the <strong>UK</strong> to start with, but ALL submissions are welcome and we'll work to put your submissions live as soon as possible.
</p>

<p>
  <em>How do you get your data?</em>
</p>

<p>
  As described above, we get the community to collect mission data and then we gather the mission data from the mission map, verify submitted data, and upload to our database.
</p>

<p>
  <em>Isn't this scraping? Isn't scraping against the Ingress Terms of Service?</em>
</p>

<p>
  Excellent question. I wrote <a href="#" data-ajax="content" data-content-id="3">a detailed justification of my opinion interpreting the TOS</a>. I believe my use of the Intel map data is within the Terms of Service, but if I receive any official communication from Niantic stating otherwise I will immediately change or remove any functionality they deem to be violating.
</p>

<a href="#" data-ajax="content" data-content-id="1"> Back </a>
