<h2> TOS Rationale </h2>

<p>
By the letter of the Terms
</p>

<blockquote>
  You agree not to do any of the following:
  use, display, mirror, or frame the Services or any individual element within the Services, Niantic’s name, any Niantic trademark, logo, or other proprietary information, or the layout and design of any page or form contained on a page, without Niantic’s express written consent;
</blockquote>.

<p>
  This could be interpreted as covering the dataset, depending on how they interpret its collection. Data is collected via a manual process that does not interact with the game in any way. This process allows us to collect and validate other pieces of metadata (whether a mission is part of a banner, etc) and adjust for errors. However, this data IS stored on my servers, and storing a portion of game data outside the game itself could be interpreted by some as “scraping” or unauthorized aggregation of the content.
</p>

<p>
To address this, I have decided to follow the spirit of these rules in good faith and minimise any harm done to the game and the smooth running of Niantic’s operations.
</p>

<p>
  Only minimal portal data is collected to allow the application to work. Octoreso ONLY needs the latitude, longitude and unique identifier (for deduplication) for each portal. We store these and we discard immediately portal names and game state (level, owner, etc). This is so that the application confers NO advantage outside the official Intel tools. Portals will only become available to Octoreso for mapping if they are part of an ingress mission, and only if a local player takes the time to submit them and via my manual data import process.
</p>

<p>
  Octoreso does not impact the operations of Niantic’s servers in any way. The project encourages me personally to load and view more missions than usual to approve them for use in the application, making me access the site at a rate consistent with me running a active field operation or other normal gameplay operation. In fact Octoreso use lowers player dependency on official servers, lowering resource use. No assets are loaded from Niantic or associated third parties at runtime.
</p>

<p>
  Octoreso does not confer Any competitive game advantage. It is designed solely to improve the display of mission data, where missions are a solo or cooperative facet of gameplay not based around interaction between gameplay factions. We carefully discard information not deemed crucial to planning and organising mission gameplay to prevent any such advantage from misuse of our platform.
</p>

<p>
  Our codebase is open source - if there are suspicions people can audit what Octoreso is doing. The current build of Octoreso should match the `master` branch of <a href="https://github.com/octoreso/octoreso" target="_blank">Octoreso on Github</a>
</p>

<p>
I fully accept the possibility that Niantic find my rationale for use to be insufficient. In this case I make myself open to any requests for application amendment or termination - if Niantic aren’t happy with a feature or the central premise of the application itself it will be removed once I verify the concern comes from a Niantic employee acting in their official capacity. However it’s my belief that I am compliant in both the letter and spirit of the terms of service due to the manual data collection and the careful subset of data we store.
</p>

<p>
  My Ingress username is <strong>@gigitrix</strong> and my <a href="https://plus.google.com/+TobyPinder">Google+ account is here.</a> If Niantic employees have any objections to my interpretation of the Terms of Service or find any piece of functionality to be forbidden, I will immediately take action to remove offending features. My aim is to augment Ingress and I do not intend to operate any service that the Ingress developers don't agree with!
</p>

<a href="#" data-ajax="content" data-content-id="1"> Back </a>
