<h2> Aegis Nova </h2>

<p>The following Aegis Nova Anomaly sites are planned for inclusion in Octoreso before the anomaly date.</p>

<p>Please share Octoreso with your local community or get involved and help us with the mission upload!</p>

<table class="table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th><abbr="Primary/Satellite">P/S</abbr></th>
      <th>Status</th>
    </th>
  </thead>
  <tbody>
    <tr>
      <td><abbr title="28th of May, 2016">5/28</abbr></td>
      <td>Brooklyn, NY</td>
      <td><abbr title="Primary">P</abbr></td>
      <td>Planned</td>
    </tr>

    <tr>
      <td><abbr title="28th of May, 2016">5/28</abbr></td>
      <td>Savannah, GA</td>
      <td><abbr title="Satellite">S</abbr></td>
      <td>Planned</td>
    </tr>

    <tr>
      <td><abbr title="28th of May, 2016">5/28</abbr></td>
      <td>Minneapolis/Saint Paul, MN</td>
      <td><abbr title="Satellite">S</abbr></td>
      <td>Planned</td>
    </tr>

    <tr>
      <td><abbr title="28th of May, 2016">5/28</abbr></td>
      <td><a href="#" data-ajax="community" data-community-id="17" data-teleport="-33.901627,18.431014,-33.948098,18.388032">Cape Town, South Africa</a></td>
      <td><abbr title="Satellite">S</abbr></td>
      <td>Live</td>
    </tr>

    <tr>
      <td><abbr title="6th of June, 2016">6/25</abbr></td>
      <td>San Diego, CA</td>
      <td><abbr title="Primary">P</abbr></td>
      <td>Planned</td>
    </tr>

    <tr>
      <td><abbr title="6th of June, 2016">6/25</abbr></td>
      <td>Salt Lake City, UT</td>
      <td><abbr title="Satellite">S</abbr></td>
      <td>Planned</td>
    </tr>

    <tr>
      <td><abbr title="6th of June, 2016">6/25</abbr></td>
      <td>Calgary, AB</td>
      <td><abbr title="Satellite">S</abbr></td>
      <td>Planned</td>
    </tr>

    <tr>
      <td><abbr title="6th of June, 2016">6/25</abbr></td>
      <td>Dublin, Ireland</td>
      <td><abbr title="Satellite">S</abbr></td>
      <td>Planned</td>
    </tr>

    <tr>
      <td><abbr title="6th of June, 2016">6/25</abbr></td>
      <td>Sydney, Australia</td>
      <td><abbr title="Primary">P</abbr></td>
      <td>Planned</td>
    </tr>
  </tbody>
</table>

<p> We're focusing predominantly on English speaking events right now but if you think your anomalygoers would benefit from Octoreso access before the anomaly date, get in touch! We're working on a translation platform so the site can be used worldwide for future anomaly events and general Octoreso communities..</p>

<a href="#" data-ajax="content" data-content-id="1"> Back </a>
