@import "bootstrap-sprockets";
@import "bootstrap";

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.row-no-padding .pad-right {
  padding-top: 4px;
  padding-right: 10px !important;
}

.row-no-padding .pad-left {
  padding-left: 10px !important;
}

.nudge-down {
  padding-top: 4px;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

html,body,p,h1,h2,h3,h4 {
  /*font-family: 'Droid Sans Mono', sans-serif;*/
}

img.front_image
{
  margin: 0 auto;
  display: block;
}

.row.big_row
{
  margin-bottom: 60px;
}

.title_image
{
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:right;
}
.right-floated-media caption
{
  padding-top: 20px;
}

.right-floated-media
{
  margin-left: 40px;
}
