@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap_holo";

@font-face {
  font-family: 'robotothin';
  src: url('/ingress/fonts/roboto-webfont.eot');
  src: url('/ingress/fonts/roboto-webfont.eot?#iefix') format('embedded-opentype'),
       url('/ingress/fonts/roboto-webfont.woff2') format('woff2'),
       url('/ingress/fonts/roboto-webfont.woff') format('woff'),
       url('/ingress/fonts/roboto-webfont.ttf') format('truetype'),
       url('/ingress/fonts/roboto-webfont.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'codaregular';
  src: url('/ingress/fonts/coda-webfont.eot');
  src: url('/ingress/fonts/coda-webfont.eot?#iefix') format('embedded-opentype'),
       url('/ingress/fonts/coda-webfont.woff2') format('woff2'),
       url('/ingress/fonts/coda-webfont.woff') format('woff'),
       url('/ingress/fonts/coda-webfont.ttf') format('truetype'),
       url('/ingress/fonts/coda-webfont.svg#codaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$ingress-bg:  #000000;
$ingress-bg2: #071C1C;
$ingress-b1:  #00FFFF;
$ingress-b2a: #00B7B3;
$ingress-b2b: #009B99;
$ingress-b3a: #008780;
$ingress-b3b: #005855;

#sidebar ul , #sidebar li {
   list-style-type: none;
   padding-left: 0px;
   margin-left: 0px;
}

#container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: $ingress-bg2;
}

#map-container {
  width: 75%;
  max-width: 75%;
  float: left;
  height: 100%;
  max-height: 100%;
  border-bottom: 1px solid $ingress-b1;
  border-left: 1px solid $ingress-b1;
  border-top: 1px solid $ingress-b1;
}

#sidebar {
  font-family: 'codaregular', 'Verdana', sans-serif;
  font-size: 1.2em;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
  padding: 5px 15px;

  a {
    color: $ingress-b1;
  }
}

#sidebar-container {
  width: 25%;
  max-width: 25%;
  float: right;
  height: 100%;
  max-height: 100%;
  border: 1px solid $ingress-b1;
  padding-top: 20px;
}

#map {
  width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 1;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 28px;
  z-index: 2;
  background-color: $ingress-bg2;
  border-bottom: 1px solid $ingress-b1;
  border-top: 1px solid $ingress-b1;
}

#navbar a{
  color: $ingress-b1;
  border-left: 1px solid $ingress-b1;
  border-right: 1px solid $ingress-b1;
  padding: 4px 8px;
  height: 100%;
  float: left;

}

/* Colors */

.color-bg {
  color: $ingress-bg
}

.color-bg2 {
  color: $ingress-bg2
}

.color-b1 {
  color: $ingress-b1
}

.color-b2a {
  color: $ingress-b2a
}

.color-b2b {
  color: $ingress-b2b
}

.color-b3a {
  color: $ingress-b3a
}

.color-b3b {
  color: $ingress-b3a
}

.bgcolor-bg {
  background-color: $ingress-bg
}

.bgcolor-bg2 {
  background-color: $ingress-bg2
}

.bgcolor-b1 {
  background-color: $ingress-b1
}

.bgcolor-b2a {
  background-color: $ingress-b2a
}

.bgcolor-b2b {
  background-color: $ingress-b2b
}

.bgcolor-b3a {
  background-color: $ingress-b3a
}

.bgcolor-b3b {
  background-color: $ingress-b3a
}

/* EWW */

.pin {
  float: left;
  width: 1em;
  height: 1em;
  margin-right: 5px;
}

$icon1: #00E64D;
$icon2: #FDF569;
$icon3: #FF9900;
$icon4: #FD7567;
$icon5: #8E67FD;
$icon6: #6991FD;
$icon7: #67DDDD;

.pin-color-1 {
  background-color: $icon1;
}
.pin-color-2 {
  background-color: $icon2;
}
.pin-color-3 {
  background-color: $icon3;
}
.pin-color-4 {
  background-color: $icon4;
}
.pin-color-5 {
  background-color: $icon5;
}
.pin-color-6 {
  background-color: $icon6;
}
.pin-color-7 {
  background-color: $icon7;
}
