@import "bootstrap-sprockets";
@import "bootstrap";
@import 'holo';

@font-face {
  font-family: 'robotothin';
  src: url('/ingress/fonts/roboto-webfont.eot');
  src: url('/ingress/fonts/roboto-webfont.eot?#iefix') format('embedded-opentype'),
       url('/ingress/fonts/roboto-webfont.woff2') format('woff2'),
       url('/ingress/fonts/roboto-webfont.woff') format('woff'),
       url('/ingress/fonts/roboto-webfont.ttf') format('truetype'),
       url('/ingress/fonts/roboto-webfont.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'codaregular';
  src: url('/ingress/fonts/coda-webfont.eot');
  src: url('/ingress/fonts/coda-webfont.eot?#iefix') format('embedded-opentype'),
       url('/ingress/fonts/coda-webfont.woff2') format('woff2'),
       url('/ingress/fonts/coda-webfont.woff') format('woff'),
       url('/ingress/fonts/coda-webfont.ttf') format('truetype'),
       url('/ingress/fonts/coda-webfont.svg#codaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$ingress-bg:  #000000;
$ingress-bg2: #071C1C;
$ingress-b1:  #00FFFF;
$ingress-b2a: #00B7B3;
$ingress-b2b: #009B99;
$ingress-b3a: #008780;
$ingress-b3b: #005855;

#sidebar-menu a
{
  min-width: 34px;
}


#sidebar ul , #sidebar li {
   list-style-type: none;
   padding-left: 0px;
   margin-left: 0px;
}

#container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: $ingress-bg2;
}

#map-container {
  width: 75%;
  max-width: 75%;
  float: left;
  height: 100%;
  max-height: 100%;
  border-bottom: 1px solid $ingress-b1;
  border-left: 1px solid $ingress-b1;
  border-top: 1px solid $ingress-b1;
}

#sidebar {
  font-family: 'codaregular', 'Verdana', sans-serif;
  font-size: 1.2em;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
  padding: 5px 15px;

  a {
    color: $ingress-b1;
  }
}

#sidebar-container {
  width: 25%;
  max-width: 25%;
  float: right;
  height: 100%;
  max-height: 100%;
  border: 1px solid $ingress-b1;
}

#map {
  width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 1;
}

#sidebar-menu {
  font-size: 30px;
  a {
    transition:.5s;
    text-decoration: none;
  }
  a:hover {
    color: #6904C1;
  }
}


.no-pad {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#spinner-container {
  position: fixed;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  top: 0;
  z-index:3;
  pointer-events: none;
}

#spinner {
  display: none;
  margin: 0 auto;
}

a { cursor: pointer; }

/* Colors */

.color-bg {
  color: $ingress-bg
}

.color-bg2 {
  color: $ingress-bg2
}

.color-b1 {
  color: $ingress-b1
}

.color-b2a {
  color: $ingress-b2a
}

.color-b2b {
  color: $ingress-b2b
}

.color-b3a {
  color: $ingress-b3a
}

.color-b3b {
  color: $ingress-b3a
}

.bgcolor-bg {
  background-color: $ingress-bg
}

.bgcolor-bg2 {
  background-color: $ingress-bg2
}

.bgcolor-b1 {
  background-color: $ingress-b1
}

.bgcolor-b2a {
  background-color: $ingress-b2a
}

.bgcolor-b2b {
  background-color: $ingress-b2b
}

.bgcolor-b3a {
  background-color: $ingress-b3a
}

.bgcolor-b3b {
  background-color: $ingress-b3a
}

.bigger {
  font-size: 1.2em;
}

.smaller {
  font-size: 0.9em;
}

/* EWW */

.pin {
  float: left;
  width: 1em;
  height: 1em;
  margin-right: 5px;
}

/* TODO: Consolidate with IconColors on JS side. */

$icon01: #700E25;
$icon02: #790F12;
$icon03: #7A230F;
$icon04: #7A330F;
$icon05: #7A3E0F;
$icon06: #7A470F;
$icon07: #7A4F0F;
$icon08: #7A560F;
$icon09: #7A5C0F;
$icon10: #7A610F;
$icon11: #7A670F;
$icon12: #7A6D0F;
$icon13: #7A730F;
$icon14: #7A790F;
$icon15: #6C770E;
$icon16: #5F750E;
$icon17: #52720E;
$icon18: #436F0D;
$icon19: #306B0D;
$icon20: #0F630B;
$icon21: #0A5829;
$icon22: #095139;
$icon23: #094A47;
$icon24: #0C394D;
$icon25: #0F304F;
$icon26: #112751;
$icon27: #141B54;
$icon28: #191555;
$icon29: #211354;
$icon30: #281153;
$icon31: #301052;
$icon32: #380E51;
$icon33: #440C50;
$icon34: #560A4A;
$icon35: #610C3E;
$icon36: #690D32;

.pin-color-1 { background-color: $icon01; }
.pin-color-2 { background-color: $icon02; }
.pin-color-3 { background-color: $icon03; }
.pin-color-4 { background-color: $icon04; }
.pin-color-5 { background-color: $icon05; }
.pin-color-6 { background-color: $icon06; }
.pin-color-7 { background-color: $icon07; }
.pin-color-8 { background-color: $icon08; }
.pin-color-9 { background-color: $icon09; }
.pin-color-10 { background-color: $icon10; }
.pin-color-11 { background-color: $icon11; }
.pin-color-12 { background-color: $icon12; }
.pin-color-13 { background-color: $icon13; }
.pin-color-14 { background-color: $icon14; }
.pin-color-15 { background-color: $icon15; }
.pin-color-16 { background-color: $icon16; }
.pin-color-17 { background-color: $icon17; }
.pin-color-18 { background-color: $icon18; }
.pin-color-19 { background-color: $icon19; }
.pin-color-20 { background-color: $icon20; }
.pin-color-21 { background-color: $icon21; }
.pin-color-22 { background-color: $icon22; }
.pin-color-23 { background-color: $icon23; }
.pin-color-24 { background-color: $icon24; }
.pin-color-25 { background-color: $icon25; }
.pin-color-26 { background-color: $icon26; }
.pin-color-27 { background-color: $icon27; }
.pin-color-28 { background-color: $icon28; }
.pin-color-29 { background-color: $icon29; }
.pin-color-30 { background-color: $icon30; }
.pin-color-31 { background-color: $icon31; }
.pin-color-32 { background-color: $icon32; }
.pin-color-33 { background-color: $icon33; }
.pin-color-34 { background-color: $icon34; }
.pin-color-35 { background-color: $icon35; }
.pin-color-36 { background-color: $icon36; }
